Importando Base de Dados

In [3]:
#importar bibliotecas
import pandas as pd

In [4]:
#importar base de dados
emails = pd.read_excel(r'C:\Users\João\Documents\Projeto AutomacaoIndicadores\Projeto AutomacaoIndicadores\Bases de Dados\Emails.xlsx')
lojas = pd.read_csv(r'C:\Users\João\Documents\Projeto AutomacaoIndicadores\Projeto AutomacaoIndicadores\Bases de Dados\lojas.csv', encoding='latin1', sep=';')
vendas = pd.read_excel(r'C:\Users\João\Documents\Projeto AutomacaoIndicadores\Projeto AutomacaoIndicadores\Bases de Dados\vendas.xlsx')

display(emails)
display(lojas)
display(vendas)

,Loja,Gerente,E-mail
0,Iguatemi Esplanada,Helena,jpgd7735+helena@gmail.com
1,Shopping Midway Mall,Alice,jpgd7735+alice@gmail.com
2,Norte Shopping,Laura,jpgd7735+laura@gmail.com
3,Shopping Iguatemi Fortaleza,Manuela,jpgd7735+manuela@gmail.com
4,Shopping União de Osasco,Valentina,jpgd7735+valentina@gmail.com
5,Shopping Center Interlagos,Sophia,jpgd7735+sophia@gmail.com
6,Rio Mar Recife,Isabella,jpgd7735+isabella@gmail.com
7,Salvador Shopping,Heloisa,jpgd7735+heloisa@gmail.com
8,Rio Mar Shopping Fortaleza,Luiza,jpgd7735+luiza@gmail.com
9,Shopping Center Leste Aricanduva,Julia,jpgd7735+julia@gmail.com
10,Ribeirão Shopping,Lorena,jpgd7735+lorena@gmail.com
11,Shopping Morumbi,Livia,jpgd7735+livia@gmail.com
12,Parque Dom Pedro Shopping,Maria Luiza,jpgd7735+maria_luiza@gmail.com
13,Bourbon Shopping SP,Cecilia,jpgd7735+cecilia@gmail.com
14,Palladium Shopping Curitiba,Eloa,jpgd7735+eloa@gmail.com
15,Passei das Águas Shopping,Miguel,jpgd7735+miguel@gmail.com
16,Center Shopping Uberlândia,Arthur,jpgd7735+arthur@gmail.com
17,Shopping Recife,Heitor,jpgd7735+heitor@gmail.com
18,Shopping Vila Velha,Bernardo,jpgd7735+bernardo@gmail.com
19,Shopping SP Market,Davi,jpgd7735+davi@gmail.com
20,Shopping Eldorado,Theo,jpgd7735+theo@gmail.com
21,Shopping Ibirapuera,Lorenzo,jpgd7735+lorenzo@gmail.com
22,Novo Shopping Ribeirão Preto,Gabriel,jpgd7735+gabriel@gmail.com
23,Iguatemi Campinas,Pedro,jpgd7735+pedro@gmail.com
24,Shopping Barra,Benjamin,jpgd7735+benjamin@gmail.com
25,Diretoria,Diretoria,jpgd7735+diretoria@gmail.com

    ID Loja                              Loja
0         1                Iguatemi Esplanada
1         2              Shopping Midway Mall
2         3                    Norte Shopping
3         4       Shopping Iguatemi Fortaleza
4         5          Shopping União de Osasco
5         6        Shopping Center Interlagos
6         7                    Rio Mar Recife
7         8                 Salvador Shopping
8         9        Rio Mar Shopping Fortaleza
9        10  Shopping Center Leste Aricanduva
10       11                 Ribeirão Shopping
11       12                  Shopping Morumbi
12       13         Parque Dom Pedro Shopping
13       14               Bourbon Shopping SP
14       15       Palladium Shopping Curitiba
15       16         Passei das Águas Shopping
16       17        Center Shopping Uberlândia
17       18                   Shopping Recife
18       19               Shopping Vila Velha
19       20                Shopping SP Market
20       21                 Shopping Eldorado
21       22               Shopping Ibirapuera
22       23      Novo Shopping Ribeirão Preto
23       24                 Iguatemi Campinas
24       25                    Shopping Barra

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final
0,1,2019-01-01,1,Sapato Estampa,1,358,358
1,1,2019-01-01,1,Camiseta,2,180,360
2,1,2019-01-01,1,Sapato Xadrez,1,368,368
3,2,2019-01-02,3,Relógio,3,200,600
4,2,2019-01-02,3,Chinelo Liso,1,71,71
...,...,...,...,...,...,...,...
100994,69996,2019-12-26,17,Short Listrado,2,102,204
100995,69996,2019-12-26,17,Mochila,4,270,1080
100996,69996,2019-12-26,17,Pulseira Estampa,1,87,87
100997,69997,2019-12-26,11,Camisa Listrado,1,108,108
100998,69997,2019-12-26,11,Short Linho,2,133,266

Criar uma tabela para cada loja

In [5]:
#incluir nome da loja em vendas
vendas = vendas.merge(lojas, on='ID Loja')
display(vendas)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Loja
0,1,2019-01-01,1,Sapato Estampa,1,358,358,Iguatemi Esplanada
1,1,2019-01-01,1,Camiseta,2,180,360,Iguatemi Esplanada
2,1,2019-01-01,1,Sapato Xadrez,1,368,368,Iguatemi Esplanada
3,21,2019-01-02,1,Camisa Gola V Listrado,2,116,232,Iguatemi Esplanada
4,34,2019-01-02,1,Sapato Listrado,1,363,363,Iguatemi Esplanada
...,...,...,...,...,...,...,...,...
100994,69846,2019-12-25,8,Short Estampa,2,96,192,Salvador Shopping
100995,69846,2019-12-25,8,Tênis Estampa,5,256,1280,Salvador Shopping
100996,69850,2019-12-25,8,Calça Estampa,4,177,708,Salvador Shopping
100997,69972,2019-12-26,8,Terno Liso,3,720,2160,Salvador Shopping
100998,69972,2019-12-26,8,Sapato Estampa,5,358,1790,Salvador Shopping

In [6]:
#criando uma tabela para cada loja
tabela_lojas = {} #dicionario para armazenar as lojas
for loja in lojas['Loja']: #for para percorrer cada linha da tabela de lojas
    tabela_lojas[loja]  = vendas.loc[vendas['Loja'] == loja, : ] #criando uma tabela para cada loja

display(tabela_lojas['Iguatemi Esplanada'])
display(tabela_lojas['Norte Shopping'])
display(tabela_lojas['Shopping União de Osasco'])

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Loja
0,1,2019-01-01,1,Sapato Estampa,1,358,358,Iguatemi Esplanada
1,1,2019-01-01,1,Camiseta,2,180,360,Iguatemi Esplanada
2,1,2019-01-01,1,Sapato Xadrez,1,368,368,Iguatemi Esplanada
3,21,2019-01-02,1,Camisa Gola V Listrado,2,116,232,Iguatemi Esplanada
4,34,2019-01-02,1,Sapato Listrado,1,363,363,Iguatemi Esplanada
...,...,...,...,...,...,...,...,...
3975,69899,2019-12-25,1,Sapato Xadrez,4,368,1472,Iguatemi Esplanada
3976,69903,2019-12-25,1,Terno Liso,5,720,3600,Iguatemi Esplanada
3977,69928,2019-12-25,1,Meia,1,30,30,Iguatemi Esplanada
3978,69944,2019-12-25,1,Gorro Xadrez,5,85,425,Iguatemi Esplanada
3979,69944,2019-12-25,1,Sapato Xadrez,2,368,736,Iguatemi Esplanada

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Loja
3980,2,2019-01-02,3,Relógio,3,200,600,Norte Shopping
3981,2,2019-01-02,3,Chinelo Liso,1,71,71,Norte Shopping
3982,7,2019-01-02,3,Camisa Gola V Listrado,1,116,116,Norte Shopping
3983,7,2019-01-02,3,Camisa Liso,1,105,105,Norte Shopping
3984,73,2019-01-02,3,Cueca Xadrez,5,60,300,Norte Shopping
...,...,...,...,...,...,...,...,...
8154,69888,2019-12-25,3,Tênis Linho,1,294,294,Norte Shopping
8155,69916,2019-12-25,3,Terno,2,700,1400,Norte Shopping
8156,69962,2019-12-25,3,Meia Linho,2,78,156,Norte Shopping
8157,69976,2019-12-26,3,Tênis Xadrez,1,259,259,Norte Shopping
8158,69976,2019-12-26,3,Casaco,4,250,1000,Norte Shopping

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Loja
56271,26,2019-01-02,5,Chinelo,2,60,120,Shopping União de Osasco
56272,42,2019-01-02,5,Chinelo,2,60,120,Shopping União de Osasco
56273,54,2019-01-02,5,Cueca Xadrez,1,60,60,Shopping União de Osasco
56274,54,2019-01-02,5,Cueca Linho,2,93,186,Shopping União de Osasco
56275,54,2019-01-02,5,Meia Liso,5,38,190,Shopping União de Osasco
...,...,...,...,...,...,...,...,...
60261,69940,2019-12-25,5,Polo Xadrez,2,142,284,Shopping União de Osasco
60262,69940,2019-12-25,5,Camisa Estampa,2,113,226,Shopping União de Osasco
60263,69979,2019-12-26,5,Camisa Gola V,2,100,200,Shopping União de Osasco
60264,69979,2019-12-26,5,Mochila Estampa,3,277,831,Shopping União de Osasco
60265,69979,2019-12-26,5,Polo Linho,1,176,176,Shopping União de Osasco

Criar a data que será referência

In [7]:
dia_indicador = vendas['Data'].max()

print(dia_indicador)

2019-12-26 00:00:00